:root {
    --small-card-width: 20%;
    --medium-card-width: 30%;
    --big-card-width: 35%;
    --icon-font-size: 6rem;
}

.card-box {
    height: auto;
    backdrop-filter: blur(25px) saturate(72%);
    -webkit-backdrop-filter: blur(25px) saturate(72%);
    background-color: var(--bg-glass);
    border-radius: var(--radius-md);
    border: 1px solid var(--text-heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
    padding: var(--padding-md);
    transition: var(--animation);
    cursor: pointer;
    opacity: 0.9;
}

body.dark .card-box { opacity: 0.5; }

.card-box:hover {
    opacity: 1;
}

.small-card {
    width: var(--small-card-width);
}

.medium-card {
    width: var(--medium-card-width);
}

.big-card {
    width: var(--big-card-width);
}

.card-box i {
    font-size: var(--icon-font-size);
}

.cards-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-md);
    width: 100%;
}

.languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: var(--gap-lg);
}