.blogs {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-md);
}

.blog-card {
    width: 25%;
    height: auto;
    padding: 14px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    flex-direction: column;
    backdrop-filter: blur(25px) saturate(72%);
    -webkit-backdrop-filter: blur(25px) saturate(72%);
    background-color: var(--bg-glass);
    border-radius: var(--radius-md);
    border: 1px solid var(--border-subtle);
    display: flex;
    transition: var(--animation);
    cursor: pointer;
    text-align: start;
}

.blog-top {
    position: relative;
}

.blog-image {
    width: 100%;
    border-radius: var(--radius-md);
}

.blog-tags {
    position: absolute;
    top: 5%;
    left: 2%;
    padding: 3px 12px;
    border-radius: var(--radius-md);
    font-size: 14px;
    border: 1px solid var(--primary-alpha-20);
    background-color: var(--bg-glass) !important;
    opacity: 0.6;
}

.blog-medium {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-time-to-read {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.bottom-buttons {
    margin-top: var(--gap-sm);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bottom-button {
    padding: 4px 12px;
    background: var(--bg-glass);
    border: 2px solid var(--primary-alpha-65);
    border-radius: 0.25rem;
    font-size: 14px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-button:hover {
    background: var(--primary-alpha-65);
    color: var(--text-inverse);
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
}

@media (max-width: 800px) {
    .blog-cards {
        flex-direction: column;
    }

    .blog-card {
        width: 100%;
    }
}