:root {
    --form-width: 95%;
    --form-elemnts-padding: 12px;
    --form-elements-font-size: 16px;
}

.contact-form {
    width: var(--form-width);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-container);
}

.contact, .form, .contact-form-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    text-align: center;
    flex-direction: column;
}

.form {
    width: var(--form-width);
    flex-direction: column;
    gap: var(--gap-xl);
    margin-top: var(--gap-xl);
}

.contact-form-top {
    flex-direction: row;
    gap: var(--gap-lg);
}

.contact-form-top, .contact-form-medium, .contact-form-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact-form-medium {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-sm);
}

.contact-input, .contact-input-textArea {
    width: 100%;
    padding: var(--form-elemnts-padding);
    border-radius: 0.25rem;
    backdrop-filter: blur(25px) saturate(72%);
    -webkit-backdrop-filter: blur(25px) saturate(72%);
    background-color: var(--form-elements-background);
    border: var(--form-elements-border);
    color: var(--text-color-page);
    font-size: var(--form-elements-font-size);
    outline: none;
}

.contact-button {
    width: 30%;
    cursor: pointer;
    background: none;
    border: var(--form-btn-border);
}

.contact-input-textArea {
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
}

.contact-input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-sm);
    width: 50%;
}


@media (min-width: 1900px) {

    .contact-input-textArea {
        min-height: 240px;
    }

}

@media (max-width: 800px) {
    .contact-form-top {
        flex-direction: column;
    }

    .contact-input-box {
        width: 100%;
    }

    .contact-button {
        width: auto;
    }

    .contact-form {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}
