:root {
    --small-faq-text-size: clamp(0.8rem, 2vw, 0.95rem);
}

.faq-sections {
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-container);
}

.left-section, .right-section {
    width: 50%;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
}

.faq-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    border-bottom: 1px solid var(--faq-border);
}

.faq-top-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.faq-top-card i {
    cursor: pointer;
}

.faq-hidden-card {
    display: none;
    margin-top: 5px;
}

.faq-hidden-card p {
    font-size: var(--small-faq-text-size)!important;
    opacity: 0.7;
    width: 90%;
}

.faq-title, .faq-text {
    display: none;
}

@media (max-width: 800px) {
    .faq-sections {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }

    .faq-title, .faq-text {
        display: flex;
        text-align: center;
    }

    .left-section img {
        display: none;
    }
}
