.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    margin-top: var(--gap-lg);
    padding: 0 var(--padding-container);
}
.card {
    width: 33.33%;
    height: auto;
    backdrop-filter: blur(25px) saturate(72%);
    -webkit-backdrop-filter: blur(25px) saturate(72%);
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--card-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
    padding: var(--padding-md);
    transition: var(--animation);
    cursor: pointer;
}
.card:hover {
    background-color: var(--card-bg-color-hover);
}
.icon-back {
    background-color: var(--icon-back);
    width: 90px;
    height: 90px;
    border-radius: var(--border-radius-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(25px) saturate(72%);
    -webkit-backdrop-filter: blur(25px) saturate(72%);
}

.card i {
    font-size: 50px;
}

.title-small-text {
    margin: 10px 0;
    text-align: center;
    padding: 0 10%;
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }

    .cards {
        gap: var(--gap-sm);
        flex-wrap: wrap;
    }

    .title-small-text {
        padding: 0;
    }
}
