.language-card {
    width: 18%;
    gap: var(--gap-sm);
}

.languages {
    gap: var(--gap-sm);
    margin-top: var(--gap-sm);
}

@media (max-width: 800px) {
    .language-card {
        width: 30%;
        padding: 8px;
    }

    .language-card .heading-xs {
        font-size: clamp(0.9rem, 2vw, 1.335rem)!important;
    }
}