.small-box {
    width: 5%;
    height: 100%;
    backdrop-filter: blur(25px) saturate(72%);
    -webkit-backdrop-filter: blur(25px) saturate(72%);
    background-color: var(--card-bg-color);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--animation);
    cursor: pointer;
}

.small-box i {
    font-size: 36px;
}

.my-language-and-tools {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0 1.25rem;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .my-language-and-tools {
        flex-wrap: wrap;
        height: 100%;
    }

    .small-box {
        width: 20%;
        height: 70px;
    }
}