.tool svg, .tool img {
    width: 70px;
    height: 70px;
    fill: var(--text-color);
}

.asm g {
    fill: var(--asm-fill);
}

.tool {
    width: 100px;
    height: 100px;
}

.tool-card {
    gap: var(--gap-sm);
    width: 100%;
}

.tool-text {
    text-wrap: wrap;
    text-align: center;
}

.glide__bullet {
    border: 1px solid var(--text-color);
    width: 10px;
    height: 10px;
    background: var(--text-color);
    border-radius: var(--border-radius-circle);
}

.burp {
    width: 60px!important;
    height: 60px!important;
}
@media (max-width: 800px) {
    .tool svg, .tool img {
        width: 40px;
        height: 40px;
    }

    .tool {
        width: 70px;
        height: 70px;
    }
}