.other-blogs {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.other-blog-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: 20px 25% 50px 0;
    gap: var(--gap-sm);
}

.blog-card {
    width: 50%;
}

@media (max-width: 768px) {
    .other-blog-cards {
        padding: 0;
        flex-direction: column;
    }

    .blog-card {
        width: 100%;
    }
}