:root {
    --standart-text-font-size: clamp(1.01rem, 2vw, 1.01rem);
    --small-subtitle-font-size: clamp(1.05rem, 2vw, 1.05rem);
    --numbered-subtitle-font-size: clamp(1.15rem, 2vw, 1.15rem);
    --blog-content-element-padding: 10px 0 0 15px;
    --main-padding: 20px 25% 50px 0;
}

.blog-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: var(--main-padding);
}

.blog-subtitle {
    color: var(--text-color);
}

.text-container {
    margin-bottom: var(--gap-lg);
}

.blog-content-element {
    padding: var(--blog-content-element-padding);
}

.numbered-subtitle {
    font-size: var(--numbered-subtitle-font-size);
}

.text {
    margin: 5px 0 10px 0;
}

.list::before {
    content: "• ";
    color: var(--text-color-page);
}

.text, .example-text {
    font-size: var(--standart-text-font-size);
    padding-left: var(--padding-md);
}

.example-text {
    font-weight: bold;
    margin-bottom: -15px;
}

.small-subtitle {
    font-size: var(--small-subtitle-font-size);
}

.special-element {
    background: var(--topic-background);
    padding: 1px 4px;
    border: 1px solid var(--card-border-very-light);
    border-radius: var(--border-radius-sm);
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    padding-left: var(--padding-md);
}

.two-image img {
    width: 49%;
    border-radius: var(--border-radius-sm);
}

@media (max-width: 768px) {
    .main {
        padding: 0;
        width: 90%;
    }

    .image-container {
        flex-direction: column;
    }

    .two-image img {
        width: 100%;
    }
}
