:root {
    --very-small-gap: 5px;
    --certificate-border: 1px solid rgba(35, 174, 98, 0.3);
    --certificate-background-color: ;
}

.sticky-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    overflow: hidden;
}

.certificate-card {
    position: fixed;
    right: 12%;
    top: 12%;
    border-radius: 12px;
    background: var(--certificate-background-color);
    border: var(--certificate-border);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--small-gap);
    width: auto;
    height: auto;
}

.image-box {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.image-box img {
    height: 100%;
    max-height: 470px;
    border-radius: 10px;
}

.dot-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--very-small-gap);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.dot,
.activeDot {
    background: var(--text-color);
}

.activeDot {
    opacity: 1;
}