:root {
    --certificate-background-color: ;
}

.sticky-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    overflow: hidden;
}

.certificate-card {
    position: fixed;
    right: 12%;
    top: 12%;
    border-radius: var(--border-radius-md);
    background: var(--certificate-bg);
    border: var(--certificate-border);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
    width: auto;
    height: auto;
}

.image-box {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.image-box img {
    height: 100%;
    max-height: 470px;
    border-radius: 10px;
}

.dot-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--gap-xs);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circle);
    opacity: 0.5;
    cursor: pointer;
}

.dot,
.activeDot {
    background: var(--text-color);
}

.activeDot {
    opacity: 1;
}
