.middle-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--section-z-index);
}

.middle-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: var(--top-baner-padding);
    gap: var(--gap-sm);
}

.middle-box p {
    width: 65%;
}
