.organization-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--section-z-index);
}

.organization-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: var(--top-baner-padding);
    gap: var(--gap-md);
}

.organization-card {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    justify-content: flex-start;
}

.organization-text {
    width: 60%;
}

.organization-logo-box {
    width: 70px;
    height: 70px;
    border-radius: var(--radius-circle);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-alpha-05);
    padding: var(--padding-sm);
}