:root {
    --title-font-size: clamp(1.5rem, 2.2vw, 1.5rem);
    --middle-padding-top: 15px;
}

.skills-you-learn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: var(--top-baner-padding);
}

.skills {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--section-z-index);
}

.skills-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--gap-md);
    padding-top: var(--middle-padding-top);
}


.skill-box {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: center;
}
