:root {
    --course-title-font-size: clamp(3.5rem, 7vw, 3.9rem);
    --course-title-font-size-phone: clamp(2.8rem, 7vw, 3rem);
    --course-text-font-size: clamp(1rem, 2vw, 1rem);
    --top-baner-padding: 20px 30px 50px 0;
    --top-baner-padding-phone: 20px 0px 50px 0;
    --baner-section-top-padding: 70px;
    --section-z-index: 10;
}

.section {
    padding: 0 0 0 3rem;
}

.footer.section {
    padding: 4rem 0 1rem;
}

.top-banner-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: var(--banner-bg);
    padding-top: var(--baner-section-top-padding);
    z-index: var(--section-z-index);

}

.top-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: var(--top-baner-padding);
    gap: var(--gap-sm);
}

.top-type-box {
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: var(--radius-md);
    background: var(--banner-type-box-bg);
    border: 1px solid var(--border-subtle);
}

.title {
    font-size: var(--course-title-font-size);
}

@media (max-width: 768px) {
    .title {
      font-size: var(--course-title-font-size-phone);
    }

    .icon-line-box {
        flex-direction: column!important;
    }

    .text-box {
        width: 100%!important;
    }

    .top-banner {
        padding: var(--top-baner-padding-phone);
    }
}

.course-description {
    font-size: var(--course-text-font-size);
}

.icon-line-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-lg);
}

.icon-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
    font-size: var(--course-text-font-size);
}

.text-box {
    padding-top: var(--padding-lg);
    width: 60%;
}
