:root {
    --hidden-element-padding: 10px 0 5px 20px;
    --topic-cards-max-width: 900px;
    --topic-card-padding: 12px 20px;
    --hidden-part-padding: 10px 0 5px 20px;
    --topic-border-radius: 12px;
}

.course-topics-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: var(--top-baner-padding);
}

.course-topics {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--section-z-index);
}

.topics-cards {
    width: 100%;
    max-width: var(--topic-cards-max-width);
    padding-top: var(--middle-padding-top);
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.topic-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--topic-card-padding);
    border: 1px solid var(--primary-alpha-10);
    border-radius: var(--topic-border-radius);
}

.visible-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hidden-part {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-xs);
    font-size: var(--course-text-font-size);
    padding: var(--hidden-part-padding);
}

.hidden-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-sm);
    cursor: pointer;
}

.hidden-part a {
    color: var(--text-heading);
}

.topic-card .visible-part i {
    cursor: pointer;
}

/* Logic for limiting topics on mobile */

/* Default: All topics are visible on desktop */
.mobile-hidden-topic {
    display: flex; 
}

/* Default: Show More button is hidden on desktop */
.show-more-topics-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--topic-cards-max-width);
    padding: 15px 0;
    cursor: pointer;
    color: var(--text-body); /* Lighter text color */
    font-weight: 500;
    transition: var(--animation);
}

.show-more-topics-btn:hover {
    color: var(--primary-color); /* Highlight on hover */
}

.show-more-topics-btn p {
    display: flex;
    align-items: center;
    gap: 8px;
}


@media (max-width: 768px) {
    .course-topics-box {
        padding: var(--top-baner-padding-phone);
    }
    
    /* Hide extra topics on mobile */
    .mobile-hidden-topic {
        display: none;
    }
    
    /* Show the button on mobile */
    .show-more-topics-btn {
        display: flex;
    }
}