.courses-cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    width: 100%;
}

.card-box {
    width: 24%;
}

.card {
    width: 100%!important;
    height: 420px!important;
}
