.pages-changer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.numbers-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
}

.page-number-box {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--button-main-color);
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
    transition: var(--animation);
}

.arrow {
    opacity: 0.6;
}

.page-number-box:hover {
    background: var(--button-main-color);
    color: var(--white);
}

.active-page {
    opacity: 1;
    background: var(--button-main-color);
    color: var(--white);
}

.numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
}
