.section {
    padding: 1.8rem 0px 1rem
}

.sorting-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
    flex-wrap: wrap;
    margin-top: 70px;
    font-size: 16px;
}

.sorting-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 12px;
    border: 1px solid var(--button-main-color);
    gap: var(--gap-sm);
    border-radius: var(--border-radius-md);
}

.sorting-box {
    cursor: pointer;
    transition: var(--animation);
    padding: 2px 8px;
    border-radius: var(--border-radius-sm);
}

.active-box {
    background: var(--button-main-color);
    color: var(--white);
}
